@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

 body {
  background-color: #383838;
}

.main-color {
  color: #FF4301
}

.secondary-color {
  color: #383838
}

.link{
  text-decoration: none;
  font-size:.8rem;
}

label p{
  font-size: 0.8rem;
  color: white;
}

.upper svg{
  background:#FF4301;
}
